<h1>Listing dd_fk_columns</h1>

<table>
  <tr>
    <th>Dd table</th>
    <th>Dd foreign table</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dd_fk_columns.each do |dd_fk_column| %>
  <tr>
    <td><%= dd_fk_column.dd_table_id %></td>
    <td><%= dd_fk_column.dd_foreign_table_id %></td>
    <td><%= dd_fk_column.name %></td>
    <td><%= link_to 'Show', dd_fk_column %></td>
    <td><%= link_to 'Edit', edit_dd_fk_column_path(dd_fk_column) %></td>
    <td><%= link_to 'Destroy', dd_fk_column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dd fk column', new_dd_fk_column_path %>
