<%= form_for(@dd_string_column, :url => @the_url) do |f| %>
  <% if @dd_string_column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dd_string_column.errors.count, "error") %> prohibited this dd_string_column from being saved:</h2>

      <ul>
      <% @dd_string_column.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :dd_table_id %>
  <div class="actions">
    <%= f.submit @submit_text %>
  </div>
<% end %>
