<h1>Listing dd_string_columns</h1>

<table>
  <tr>
    <th>Dd table</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dd_string_columns.each do |dd_string_column| %>
  <tr>
    <td><%= dd_string_column.dd_table.name %></td>
    <td><%= dd_string_column.name %></td>
    <td><%= link_to 'Show', dd_string_column %></td>
    <td><%= link_to 'Edit', edit_dd_string_column_path(dd_string_column) %></td>
    <td><%= link_to 'Destroy', dd_string_column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dd string column', new_dd_string_column_path %>
