<p id="notice"><%= notice %></p>

<div>
  <div>
    <%= @dd_table.name %>
  </div>
  <div>
    <%= link_to "Edit", edit_dd_table_path(@dd_table) %>
  </div>
  <div>
    <%= link_to "Create a column", new_dd_table_dd_string_column_path(@dd_table) %>
  </div>
</div>

<% create_link = link_to 'Create a row', new_dd_table_dd_row_path(@dd_table) %>

<div>
  <%= create_link %>
</div>

<div>
  <%= render 'table_view' %>
</div>

<div>
  <%= create_link %>
</div>
