<%= form_for(@dd_row, :url => @the_url) do |f| %>
  <% if @dd_row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dd_row.errors.count, "error") %> prohibited this dd_row from being saved:</h2>

      <ul>
      <% @dd_row.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :dd_string_values do |_f| %>
    <div class="field">
      <%= _f.label :value, @columns[_f.object.dd_string_column_id] %><br />
      <%= _f.text_field :value %>
      <%= _f.hidden_field :dd_string_column_id %>
    </div>
  <% end %>
  <%= f.hidden_field :dd_table_id %>
  <div class="actions">
    <%= f.submit @submit_text %>
  </div>
<% end %>
