<h1>Listing dd_rows</h1>

<table>
  <tr>
    <th>Dd table</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dd_rows.each do |dd_row| %>
  <tr>
    <td><%= dd_row.dd_table_id %></td>
    <td><%= link_to 'Show', dd_row %></td>
    <td><%= link_to 'Edit', edit_dd_row_path(dd_row) %></td>
    <td><%= link_to 'Destroy', dd_row, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dd row', new_dd_row_path %>
