<%= form_for(@dd_fk_value) do |f| %>
  <% if @dd_fk_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dd_fk_value.errors.count, "error") %> prohibited this dd_fk_value from being saved:</h2>

      <ul>
      <% @dd_fk_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dd_row_id %><br />
    <%= f.text_field :dd_row_id %>
  </div>
  <div class="field">
    <%= f.label :dd_fk_column_id %><br />
    <%= f.text_field :dd_fk_column_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
